
html {
    font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

img {
    margin-top: 0 !important;
    margin-bottom: 8px !important;
    max-width: 100%;
}

h1 {
    margin-top: 80px;
}
h2, h3 {
    margin-top: 40px;
}
h1:first-child {
    margin-top: 20px;
}

.bs-sidenav > li.main, .bs-sidenav > li.first-level {
    margin-left: 0;
}
.bs-sidenav > li, .bs-sidenav > li.second-level {
    margin-left: 1em;
}
